---
import Hamburger from "./hamburger.astro";
---
<Hamburger />

<div  class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About Astro</a>
    <a href="/blog">Blog Astro</a>
    <a href="/tags">Tags Astro</a>
</div>
